<nav class="sidebar">
  <div class="sidebar-top">
    <img src="/assets/images/physis-logo.png" alt="Physis logo" class="sidebar-logo">
  </div>
  <ul>
    <li><a routerLink="/"          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a></li>
    <li><a routerLink="/foros"     routerLinkActive="active">Foros relevantes</a></li>
    <li><a routerLink="#"          >Aliados</a></li>
    <li><a routerLink="/publicar"  routerLinkActive="active">Publicar un foro</a></li>
    <li><a routerLink="/about"     routerLinkActive="active">Acerca de</a></li>
    <li><a routerLink="#"          >Contacto</a></li>
    <li><a routerLink="#"          >Acuerdos legales</a></li>
  </ul>
</nav>